body {
    display: flex;
    flex-direction: column;
}

.header {
    
    background-color: #1F2937;


}

.information {
    text-align: center;

    display: flex;
    flex-direction: column;
    
    
}

.buckets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.bucket {
    width: 200px;

    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36 px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {

}

#logo {
    width: 100px;
}

img {
    width: 200px;
}

a.head {
    color: white;
}

a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
}