body {
    background-color: rgb(77, 48, 128);
    margin: 0;
    gap: 20px;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(77, 48, 128);
    /* height: 300px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 40px;
    padding-bottom: 30px;
}

.banner {
    width: 100%; 
    margin: 30px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    
}

.hero {
    gap: 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.information {
    padding: 50px 0px;
    gap: 50px;
    text-align: center;
    background-color: #9c8fd5;

    display: flex;
    flex-direction: column;
}

.buckets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    
}

.bucket {
    width: 200px;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid rgb(243, 255, 77);
    background-color: rgb(77, 48, 128);

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quote{
    background-color: rgb(77, 48, 128);

    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px 0px;
    padding: 4px 300px;
    
}

.credit{
    text-align: right;
}

.action{
    background-color: #9c8fd5;
    margin: 20px 40px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 3px solid rgb(243, 255, 77);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: rgb(77, 48, 128);
    padding: 20px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h4 {
    display: flex;
}

.footer h5 {
    /* more spacing */
    margin-top: 40px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", "Arial", "Sans-Serif";
    margin: 0;
}

/* Hero main text */
h1 {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: bolder;
}

/* Information header */
h2 {
    font-size: 16px;
    color: #F9FAF8;
    font-weight: bolder;
}

/* Quote text */
h3 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: lighter;
}

/* Header logo */
h4 {
    font-size: 18px;
    color: #F9FAF8;
}

/* Hero secondary, header link */
h5 {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Regular text */
h6 {
    font-size: 14px;
    font-weight: lighter;
    color: #E5E7EB;
}

#logo {
    width: 100px;
}

img {
    width: 300px;
    border-radius: 10px;
    border: 3px solid white;
}

.bucket img {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

h4 a {
    background-color: #f66e38;
    border-radius: 20px;
    width: 100px;
    padding: 10px;    
}